<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Vinhos</display-name>
  <distributable/>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/erro.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/erro.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/erro.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>EditarClienteServlet</display-name>
    <servlet-name>EditarClienteServlet</servlet-name>
    <servlet-class>bebidas.servlets.EditarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarClienteServlet</servlet-name>
    <url-pattern>/EditarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirClienteServlet</display-name>
    <servlet-name>ExcluirClienteServlet</servlet-name>
    <servlet-class>bebidas.servlets.ExcluirClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirClienteServlet</servlet-name>
    <url-pattern>/ExcluirClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelarPedidoServlet</display-name>
    <servlet-name>CancelarPedidoServlet</servlet-name>
    <servlet-class>bebidas.servlets.CancelarPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelarPedidoServlet</servlet-name>
    <url-pattern>/CancelarPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItemPedidoServlet</display-name>
    <servlet-name>AddItemPedidoServlet</servlet-name>
    <servlet-class>bebidas.servlets.AddItemPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemPedidoServlet</servlet-name>
    <url-pattern>/AddItemPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CriarItemPedidoServlet</display-name>
    <servlet-name>CriarItemPedidoServlet</servlet-name>
    <servlet-class>bebidas.servlets.CriarItemPedidoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CriarItemPedidoServlet</servlet-name>
    <url-pattern>/CriarItemPedidoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>bebidas.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>